.start-button {
  transition: 0.3s ease, transform 0.2s ease;
}

.App {
  font-family: sans-serif;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: rgb(210, 59, 210);
  transform-origin: 0%;
}